<div class="form container-md">
    <select class="form-select w-50 d-inline-block me-2" [(ngModel)]="selectedBuilding" (change)="onBuildingSelect()"
        name="building">
        <option value="">Select Building</option>
        <option *ngFor="let building of project.buildings" [ngValue]="building">
            {{ building.name }}
        </option>
    </select>
    <button class="btn btn-primary" [disabled]="!selectedBuilding" (click)="addFlat()">
        + Add Flat
    </button>
</div>
<div *ngIf="selectedBuilding" class="container-md">
    <table class="table table-bordered table-striped mt-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Floor No.</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flat of flats">
                <td>{{flat.id}}</td>
                <td>{{flat.floorNo}}</td>
                <td>{{flat.name}}</td>
                <td>
                    <button class="btn btn-sm btn-outline-primary" (click)="editFlat(flat.id)">Edit</button>
                </td>
            </tr>
            <tr *ngIf="flats.length === 0">
                <td colspan="4" class="text-center">No flats found for this building.</td>
            </tr>
        </tbody>
    </table>
</div>